/* You can add global styles to this file, and also import other style files */

:root {
    --bgButton: #52f1a6; //  cor botão default
    --colorTxtHeader: #0f0e9a; // cor texto do header
    --colorInfoDoc: #f26852; // cor de visualizar
    --bgIconeVisualizar: #93bf3f; // cor de icone visualizar
    --bgOutput:#F3CB62;  // cor de output grafico  
}
